<div class="layout">
    <div class="header">
        <div class="header-left">
            <span class="header-left_logo">
                <img src="/img/OIP.jpg" alt="">
            </span>
            <span class="header-left_icon-homepage">
                <i class="fa-solid fa-house"></i>
            </span>
            <div class="header-left_search">
                <!-- Hoi chat gpt xem cái khung search này template như nào-->
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Bạn muốn phát nội dung gì?">
                <i class="fa-solid fa-folder-open"></i>
            </div>
            <div class="header-left_search--history">
                <div class="header-left_search--history-header">Các tìm kiếm gần đây</div>
                <div class="header-left_search--history-item">
                    <img src="/img/ST.jpg" alt="st-MTP" class="header-left_search--history-icon">
                    <div class="header-left_search--history-texts">
                        <div class="header-left_search--history-title">Có chắc yêu là đây</div>
                        <div class="header-left_search--history-subtitle">Sơn Tùng</div>
                    </div>
                </div>
                <button class="header-left_search--history-clear-button">Xoá các tìm kiếm gần đây</button>
            </div>
        </div>
        <div class="header-right">
            <div class="header-right_menu">
                <ul class="header-right_menu--list">
                    <li class="header-right_menu--item">Premium</li>
                    <li class="header-right_menu--item">Hỗ trợ</li>
                    <li class="header-right_menu--item">Tải xuống</li>
                </ul>
                <div class="header-right_menu_download">
                    <i class="fa-solid fa-circle-arrow-down"></i>
                    <span class="header-right_menu_download--text">Cài đặt ứng dụng</span>
                </div>
            </div>
            <div class="header-right_login">
                <span class="header-right_login--signUp">Đăng ký</span>
                <span class="header-right_login--signIn">Đăng nhập</span>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- size 1/4-->
        <div class="container-sidebar">
            <div class="layout1">
                <div class="container-sidebar_header">
                    <span class="container-sidebar_header--text">Thư viện</span>
                </div>
                <div class="container-sidebar_boxMain-AddNewPlaylist">
                    <div class="container-sidebar_box-AddNewPlaylist">
                        <span class="container-sidebar_box-AddNewPlaylist--text bold">Tạo danh sách phát nhạc của
                            bạn</span>
                        <span class="container-sidebar_box-AddNewPlaylist--text">Rất dễ! Chúng tôi sẽ giúp
                            bạn</span>
                        <button class="container-sidebar_box-AddNewPlaylist--button">Tạo danh sách phát</button>
                        <div class="tooltip-box">
                            <div class="tooltip-arrow"></div>
                            <div class="tooltip-content">
                                <h4 class="tooltip-title">Tạo danh sách phát</h4>
                                <p class="tooltip-text">Đăng nhập để tạo và chia sẻ playlist.</p>
                                <div class="tooltip-buttons">
                                    <button class="btn-later">Để sau</button>
                                    <button class="btn-login">Đăng nhập</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-sidebar_box-footer">
                    <ul class="container-sidebar_box-footer--list">
                        <li class="container-sidebar_box-footer--item">Pháp lý</li>
                        <li class="container-sidebar_box-footer--item">Trung tâm an toàn và quyền riêng tư</li>
                        <li class="container-sidebar_box-footer--item">Chính sách quyền riêng tư</li>
                        <li class="container-sidebar_box-footer--item">Cookie</li>
                        <li class="container-sidebar_box-footer--item">Giới thiệu quảng cáo</li>
                        <li class="container-sidebar_box-footer--item">Hỗ trợ tiếp cận</li>
                    </ul>
                    <div class="cookie">Cookie</div>
                </div>
            </div>
        </div>
        <!-- size 3/4 -->
        <div class="container-box-content">
            <div class="container-box-content1">
                <!-- Những bài hát thịnh hành -->
                <div class="container-box-component">
                    <div class="container-box-component--header">
                        <div class="container-box-component--header--div">
                            <span class="container-box-component--header--text">Những bài hát thịnh hành</span>
                            <span class="container-box-component--header--showAll">Hiện tất cả</span>
                        </div>
                        <div class="slider-container">
                            <button class="container-box-component--header--list--btn-left">&#10094;</button>
                            <ul class="container-box-component--header--list">

                                <li class="container-box-component--header--item">
                                    <div class="song-thumbnail">
                                        <img src="/img/imgSong.jpg" alt=""
                                            class="container-box-component--header--item--img" />
                                        <span class="container-box-component--header--item--icon-play">
                                            <i class="fa-solid fa-play"></i>
                                        </span>
                                    </div>
                                    <span class="container-box-component--header--item--nameSong">Nằm Bên Anh</span>
                                    <span class="container-box-component--header--item--artist">Minh Đinh, Hà An
                                        Huy</span>
                                </li>


                            </ul>
                            <button class="container-box-component--header--list--btn-right">&#10095;</button>
                        </div>
                    </div>
                </div>
                <!-- Những nghệ sĩ nổi tiếng  -->
                <div class="container-box-component">
                    <div class="container-box-component--header">
                        <div class="container-box-component--header--div">
                            <span class="container-box-component--header--text">Những nghệ sĩ nổi tiếng</span>
                            <span class="container-box-component--header--showAll">Hiện tất cả</span>
                        </div>
                        <div class="slider-container">
                            <button class="container-box-component--header--list--btn-left">&#10094;</button>
                            <ul class="container-box-component--header--list">

                                <li class="container-box-component--header--item">
                                    <div class="song-thumbnail">
                                        <img src="/img/ST.jpg" alt=""
                                            class="container-box-component--header--item--img img-avatar-circle" />
                                        <span class="container-box-component--header--item--icon-play">
                                            <i class="fa-solid fa-play"></i>
                                        </span>
                                    </div>
                                    <span class="container-box-component--header--item--nameSong">Sơn Tùng</span>
                                    <span class="container-box-component--header--item--artist">Nghệ sĩ</span>
                                </li>

                            </ul>
                            <button class="container-box-component--header--list--btn-right">&#10095;</button>
                        </div>

                    </div>

                </div>
                <!-- Album nổi tiếng -->
                <div class="container-box-component">
                    <div class="container-box-component--header">
                        <div class="container-box-component--header--div">
                            <span class="container-box-component--header--text">Những album nổi tiếng</span>
                            <span class="container-box-component--header--showAll">Hiện tất cả</span>
                        </div>
                        <div class="slider-container">
                            <button class="container-box-component--header--list--btn-left">&#10094;</button>
                            <ul class="container-box-component--header--list">

                                <li class="container-box-component--header--item">
                                    <div class="song-thumbnail">
                                        <img src="/img/album-ST.jpg" alt=""
                                            class="container-box-component--header--item--img" />
                                        <span class="container-box-component--header--item--icon-play">
                                            <i class="fa-solid fa-play"></i>
                                        </span>
                                    </div>
                                    <span class="container-box-component--header--item--nameSong">m-tp M-tp</span>
                                    <span class="container-box-component--header--item--artist">Sơn Tùng Mtp</span>
                                </li>

                            </ul>
                            <button class="container-box-component--header--list--btn-right">&#10095;</button>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div class="container-box-footer">
                    <div class="box--list">
                        <ul class="container-box-footer--list">
                            <h3 class="container-box-footer--header3">Công ty</h3>
                            <li class="container-box-footer--item">Giới thiệu</li>
                            <li class="container-box-footer--item">Việc làm</li>
                            <li class="container-box-footer--item">For the Record</li>
                        </ul>
                        <ul class="container-box-footer--list">
                            <h3 class="container-box-footer--header3">Cộng đồng</h3>
                            <li class="container-box-footer--item">Dành cho các Nghệ sĩ</li>
                            <li class="container-box-footer--item">Nhà Phát triển</li>
                            <li class="container-box-footer--item">Quảng cáo</li>
                            <li class="container-box-footer--item">Nhà đầu tư</li>
                            <li class="container-box-footer--item">Nhà cung cấp</li>

                        </ul>
                        <ul class="container-box-footer--list">
                            <h3 class="container-box-footer--header3">Liên kết hữu ích</h3>
                            <li class="container-box-footer--item">Hỗ trợ</li>
                            <li class="container-box-footer--item">Ứng dụng di động miễn phí</li>
                            <li class="container-box-footer--item">Phổ biến quốc gia</li>
                        </ul>
                        <ul class="container-box-footer--list">
                            <h3 class="container-box-footer--header3">Các gói của Spotify</h3>
                            <li class="container-box-footer--item">Premium Individual</li>
                            <li class="container-box-footer--item">Premium Student</li>
                            <li class="container-box-footer--item">Spotify free</li>
                        </ul>
                    </div>
                    <div class="box--icon">
                        <span class="box--icon--span">
                            <i class="fa-brands fa-instagram"></i>
                        </span>
                        <span class="box--icon--span">
                            <i class="fa-brands fa-facebook"></i>
                        </span>
                        <span class="box--icon--span">
                            <i class="fa-brands fa-twitter"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-box-header">
            <span class="footer-box-header--text" style="margin-bottom: 5px;">Xem trước Spotify</span>
            <span class="footer-box-header--text">Đăng kí để nghe không giới hạn các bài hát và quảng cáo thường
                xuyên. Không cần thẻ tín dụng</span>
        </div>
        <div class="footer-box-signUp">
            Đăng kí miễn phí
        </div>
    </div>
</div>