.box-content-changePass-form {
    margin-bottom: 20px;
}
.box-content-changePass-form input {
    width: 100%;
    padding: 8px 16px;
    border: none;
    outline: none;
    background-color: rgb(240, 242, 245);
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    box-sizing: border-box;
    transition: 0.2s ease;
    color:#495057;
}
.box-content-changePass-form--header {
    display: block;
    font-size: 14px;
    color: #7b809a;
    font-weight: 300;
    margin-bottom: 8px;
}
.box-content-changePass-button-change {
    padding: 10px 24px;
    background-color: #E91E63;
    color: #FFF;
    font-size: 12px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-right: 20px;
    font-weight: 600;
}
.box-content-changePass-button-change:hover {
    cursor: pointer;
    background-color: #e91e63;
    border-color: #e91e63;
    box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.4), 0 4px 23px 0 rgba(233, 30, 99, 0.15), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
}