.header-login {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.header-left {
  display: flex;
  align-items: center;
  position: relative;
}

.header-left_logo img {
  height: 40px;
  margin: 0 30px 0 20px;
  cursor: pointer;
}

.header-left_icon-homepage {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  padding: 10px;
  background-color: #1f1f1f;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.header-left_icon-homepage:hover {
  background-color: #2a2a2a;
  transform: scale(1.04);
}

.header-left_icon-homepage i {
  font-size: 20px;
}

/* search */
.header-left_search {
  display: flex;
  align-items: center;
  background-color: #2a2a2a; /* nền tối */
  border-radius: 20px;
  padding: 8px 12px;
  width: 500px;
  color: #fff;
}

.header-left_search i {
  color: #ccc;
  font-size: 18px;
  margin: 0 8px;
  cursor: pointer;
  background-color: #2a2a2a;
}

.header-left_search input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
}

.header-left_search input::placeholder {
  color: #b0b0b0;
}

.container-sidebar_box-AddNewPlaylist--button {
  padding: 8px 16px;
  font-size: 13px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 20px;
}
.container-sidebar_box-AddNewPlaylist--button:hover {
  transform: scale(1.04);
}
/* search history */
.header-left_search--history {
  display: none;
  z-index: 10;
  position: absolute;
  top: 42px;
  right: 0;
  background-color: #1e1e1e;
  color: white;
  padding: 16px;
  width: 500px;
  border-radius: 12px;
}

.header-left_search--history-header {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 12px;
}

.header-left_search--history-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 5px;
}

.header-left_search--history-item:hover {
  cursor: pointer;
  background-color: #2a2a2a;
}

.header-left_search--history-icon {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 12px;
}

.header-left_search--history-texts {
  display: flex;
  flex-direction: column;
}

.header-left_search--history-title {
  font-size: 15px;
  font-weight: 500;
}

.header-left_search--history-subtitle {
  font-size: 13px;
  color: #ccc;
}

.header-left_search--history-clear-button {
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #888;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.header-left_search--history-clear-button:hover {
  background-color: #333;
}

/* header-right */
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #b3b3b3;
}

/* Menu chính: Premium - Hỗ trợ - Tải xuống */
.header-right_menu {
  display: flex;
  align-items: center;
  gap: 20px;
  border-right: 1px solid #777;
  padding-right: 20px;
}

.header-right_menu--list {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-right_menu--item {
  font-weight: bold;
  cursor: pointer;
}

.header-right_menu--item:hover {
  color: #fff;
  transform: scale(1.04);
}
/* Cài đặt ứng dụng */
.header-right_menu_download {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 15px;
  color: #ccc;
  cursor: pointer;
  font-size: 14px;
}

.header-right_menu_download:hover {
  color: #fff;
  transform: scale(1.04);
}

.header-right_menu_download i {
  font-size: 14px;
}

/* Khu vực đăng ký / đăng nhập */
.header-right_User {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-right_User--noti {
  color: #fff;
  margin-right: 20px;
}
.header-right_User--noti:hover {
  transform: scale(1.04);
  cursor: pointer;
}
.header-right_User--avatar {
  background-color: #509bf5;
  color: #000;
  width: 30px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right_User-box--avatar {
  padding: 8px;
  border-radius: 50%;
}
.header-right_User-box--avatar:hover {
  background-color: #212121;
  transform: scale(1.05);
  cursor: pointer;
}
.header-right_User-box--avatar.selected {
  background-color: #212121;
  transform: scale(1.05);
}
/* menu user */
.dropdown-menu {
  display: none;
  z-index: 10;
  position: absolute;
  top: 41px;
  right: 0;
  background-color: #1e1e1e;
  color: white;
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.2s;
}

.dropdown-item:hover {
  background-color: #333;
}

.dropdown-divider {
  height: 1px;
  background-color: #444;
  margin: 5px 0;
}

.dropdown-item.logout {
  color: #f87171;
}

/* container */
.container-login {
  display: flex;
  flex: 1;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 5px 10px;
  overflow-y: auto;
}

.container-sidebar {
  width: 25%;
  background-color: #121212;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.container-box-content {
  background-color: #212121;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  width: 75%;
  overflow-x: auto;
}
.container-box-content {
  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ccc, #888);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
  }
}
/* container-sidebar_header */
.container-sidebar_header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.container-sidebar_header--plus {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  font-size: 28px;
  color: rgb(179, 179, 179);
}

.container-sidebar_header--plus:hover {
  cursor: pointer;
  background-color: #2a2a2a;
  color: #fff;
}

.container-sidebar_box-AddNewPlaylist {
  position: relative;
  background-color: #1f1f1f;
  padding: 16px 20px;
  border-radius: 10px;
  width: 100%;
}

.container-sidebar_boxMain-AddNewPlaylist {
  flex: 1;
  display: flex;
  align-items: center;
  z-index: 5;
}

.container-sidebar_box-AddNewPlaylist--text {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.container-sidebar_box-footer {
  height: 250px;
}

.container-sidebar_box-footer--list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.container-sidebar_box-footer--item {
  font-size: 11px;
  padding: 8px 10px 8px 0;
  cursor: pointer;
  color: #b3b3b3;
}

.cookie {
  margin-top: 10px;
  font-size: 12px;
}
.cookie:hover {
  cursor: pointer;
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}

/* container-box-component--header */
.container-box-component--header {
  padding: 20px;
}
.container-box-component--header--div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.container-box-component--header--text {
  font-size: 24px;
  font-weight: 700;
}
.container-box-component--header--text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container-box-component--header--showAll {
  font-size: 14px;
  color: #b3b3b3;
}

.container-box-component--header--showAll:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* List nhạc */
.container-box-component--header--list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.container-box-component--header--list::-webkit-scrollbar {
  display: none;
}
.container-box-component--header--item {
  width: 180px;
  background-color: #181818;
  border-radius: 8px;
  padding: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
}

.container-box-component--header--item:hover {
  background-color: #282828;
}

.song-thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 6px;
}

.container-box-component--header--item--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  display: block;
}

/* Nút play */
.container-box-component--header--item--icon-play {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  background-color: #1ed760;
  color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(0);
  transition: all 0.3s ease;
  font-size: 18px;
}

/* Hover hiện nút play */
.container-box-component--header--item:hover
  .container-box-component--header--item--icon-play {
  opacity: 1;
  transform: translateY(-4px);
}

.container-box-component--header--item--nameSong {
  display: block;
  margin-top: 12px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-box-component--header--item--artist {
  display: block;
  font-size: 13px;
  color: #b3b3b3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
}
.container-box-component--header--list--btn-left,
.container-box-component--header--list--btn-right {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}
.container-box-component--header--list--btn-left {
  left: 0;
}
.container-box-component--header--list--btn-right {
  right: 0;
}

.img-avatar-circle {
  border-radius: 50%;
}

.container-box-footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f5f5f5;
}
.box--list {
  display: flex;
}
.container-box-footer--list {
  padding: 0;
  list-style: none;
  margin-right: 40px;
}

.container-box-footer--header3 {
  font-size: 16px;
  margin-bottom: 10px;
}
.container-box-footer--item {
  font-size: 12px;
  margin-bottom: 5px;
}

.container-box-footer--item:hover {
  color: #5a5a5a;
  cursor: pointer;
}
.box--icon--span {
  margin-right: 20px;
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.box--icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* container-sidebar_box1 */
.container-sidebar_box1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container-sidebar_box1-header {
  font-weight: 700;
  font-size: 14px;
}
.container-sidebar_box1-plus {
  padding: 8px 16px;
  background-color: #1f1f1f;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
}
.container-sidebar_box1-plus i {
  font-weight: 300;
  color: #b3b3b3;
  font-size: 16px;
  margin-right: 5px;
}
.container-sidebar_box1-plus:hover {
  cursor: pointer;
  background-color: #434242;
}
.container-sidebar_box1-plus--list {
  display: none;
  background: #1e1e1e;
  padding: 10px;
  position: absolute;
  top: 38px;
  right: 0;
  z-index: 2;
  border-radius: 8px;
}
.container-sidebar_box1-plus--item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-sidebar_box1-plus--item:hover {
  background-color: #2c2c2c;
}

.container-sidebar_box1-plus--icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #2b2b2b;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.container-sidebar_box1-plus--item:hover .container-sidebar_box1-plus--icon {
  transform: rotate(15deg);
  filter: hue-rotate(90deg) brightness(1.2);
}

.container-sidebar_box1-plus--text-content {
  display: flex;
  flex-direction: column;
}

.container-sidebar_box1-plus--title {
  font-weight: bold;
  font-size: 14px;
}

.container-sidebar_box1-plus--subtitle {
  font-size: 12px;
  color: #b3b3b3;
}

/* container-sidebar_box2 */
.container-sidebar_box2 {
  padding: 8px 16px;
  color: #d9d9d9;
  background-color: #292929;
  border-radius: 20px;
  margin-bottom: 20px;
}
/* container-sidebar_box3 */
.container-sidebar_box3 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container-sidebar_box3--search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #222;
  border-radius: 20px;
  padding: 8px;
  width: 32px;
  transition: width 0.3s ease;
  overflow: hidden;
}

.container-sidebar_box3--search-wrapper.expanded {
  width: 250px;
}

.search-icon {
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-right: 8px;
}

.container-sidebar_box3--search-input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  font-size: 14px;
  display: none;
}

.container-sidebar_box3--search-wrapper .container-sidebar_box3--search-input {
  display: block;
}

.container-sidebar_box3-sort {
  cursor: pointer;
}
.container-sidebar_box3-sort-menu {
  display: none;
  z-index: 3;
  top: 27px;
  right: 0;
  position: absolute;
  background-color: #1e1e1e;
  color: #fff;
  padding: 10px 0;
  border-radius: 8px;
  width: 200px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.container-sidebar_box3-sort-title {
  padding: 8px 16px;
  color: #b3b3b3;
  font-size: 13px;
  font-weight: bold;
}

.container-sidebar_box3-sort-option {
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.container-sidebar_box3-sort-option:hover {
  background-color: #2a2a2a;
}

.container-sidebar_box3-sort-option.selected {
  color: #1db954; /* Spotify green */
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-sidebar_box3-checkmark {
  font-size: 16px;
}

/* container-sidebar_box4 */
.container-sidebar_box4 {
  max-height: 350px; /* hoặc chiều cao bạn muốn */
  overflow-y: auto;
  padding-right: 4px;
}
.container-sidebar_box4::-webkit-scrollbar {
  width: 6px;
}

.container-sidebar_box4::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

.container-sidebar_box4::-webkit-scrollbar-track {
  background-color: transparent;
}
.container-sidebar_box4-playlist--item {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #121212;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.container-sidebar_box4-playlist--item:hover {
  background-color: #2a2a2a;
}

.container-sidebar_box4-playlist-image {
  width: 48px;
  height: 48px;
  background-color: #333;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-icon {
  color: #ccc;
  font-size: 20px;
  position: absolute;
  z-index: 1;
}

.play-icon {
  color: white;
  font-size: 16px;
  position: absolute;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.2s ease;
}

.container-sidebar_box4-playlist--item:hover .play-icon {
  opacity: 1;
}

.container-sidebar_box4-playlist--item:hover .music-icon {
  opacity: 0;
}

.container-sidebar_box4-playlist-info .container-sidebar_box4-playlist-title {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.container-sidebar_box4-playlist-info .container-sidebar_box4-playlist-sub {
  color: #aaa;
  font-size: 12px;
}

/* footer */
/* CSS tổng thể cho player */
.footer-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 3px 12px;
  color: white;
  gap: 20px;
}

/* Bên trái */
.footer-homepage-left {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
  min-width: 0;
}

.footer-homepage-left--img img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 4px;
}

.footer-homepage-left--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.footer-homepage-left--title {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-homepage-left--subtitle {
  font-size: 12px;
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-homepage-left--plusicon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
  height: 15px;
  width: 15px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  color: #ccc;
}
.footer-homepage-left--plusicon i {
  line-height: 0;
}

/* Trung tâm - Controls */
.footer-homepage-player-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-homepage-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.footer-homepage-controls-btn {
  background: none;
  border: none;
  color: #ccc;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  padding: 4px;
  transition: color 0.2s ease;
}
.footer-homepage-controls .fa-outside:hover,
.footer-homepage-controls svg:hover {
  color: #fff;
  transform: scale(1.1);
}

.footer-homepage-controls-fa-play {
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 40px;
  height: 4%;
  padding: 5px;
  font-size: 16px;
}
.footer-homepage-controls-fa-play:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.footer-homepage-controls-active {
  color: #1db954;
  border-radius: 6px;
}
/* Thanh tiến trình */
.footer-homepage-progress-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 600px;
}

.footer-homepage-progress-bar-bg {
  background: #444;
  height: 4px;
  flex: 1;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.footer-homepage-progress-bar-fill {
  background: #1db954;
  height: 100%;
  width: 0%;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

/* Bên phải */
.footer-homepage-right {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
  justify-content: flex-end;
}

.footer-homepage-right-btn {
  background: none;
  border: none;
  color: #ccc;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  padding: 4px;
  transition: color 0.2s ease;
}

.footer-homepage-right-btn:hover {
  color: #fff;
}

.footer-homepage-right-active {
  color: #1db954;
  border-radius: 6px;
}

.footer-homepage-right-dot {
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 3px;
  background-color: #1db954;
  border-radius: 50%;
}

.footer-homepage-right-volume-bar {
  width: 100px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
}

.footer-homepage-right-volume-bar::-webkit-slider-runnable-track {
  height: 4px;
  background: #aaa;
  border-radius: 2px;
}

.footer-homepage-right-volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  margin-top: -4px;
}

.footer-homepage-right-volume-bar::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
}

.liked-song-thumbnail {
  background: linear-gradient(135deg, #5e2dd8, #80e3ff);
  width: 48px;
  height: 48px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.liked-song-thumbnail i {
  color: white;
  font-size: 18px;
}
.liked-song-icon {
  display: none;
}
.container-sidebar_box4-playlist--item.selected {
  background-color: #2a2a2a; /* nền tối hơn */
  border-radius: 8px;
}

/* Tiêu đề khi được chọn */
.container-sidebar_box4-playlist--item.selected
  .container-sidebar_box4-playlist-title {
  color: #1db954;
}

/* Icon âm thanh khi được chọn */
.container-sidebar_box4-playlist--item.selected .liked-song-icon {
  display: block;
  color: #1db954;
}

/* container-sidebar-right */
.container-sidebar-right {
  position: relative;
  display: block;
  width: 25%;
  background-color: #121212;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 10px;
  overflow: hidden;
}

.container-sidebar-right-playing-list {
  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ccc, #888);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
  }
}
.container-sidebar-right-playing-list {
  display: block;
  background-color: #121212;
  color: white;
  font-family: "Segoe UI", sans-serif;
  overflow-y: auto;
  height: 550px;
  overflow-x: hidden;
}

.container-sidebar-right-playing-item {
  background-color: #1f1f1f;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.container-sidebar-right-playing-item-last {
  margin: 0;
}
.container-sidebar-right-section-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}
.container-sidebar-right-section-title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.container-sidebar-right-main-image,
.artist-image,
.next-image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 12px;
}

.song-info {
  margin-top: 8px;
}

.container-sidebar-right-boxx {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-sidebar-right-boxx i:hover {
  cursor: pointer;
}
.container-sidebar-right-song-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
}
.container-sidebar-right-song-title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.container-sidebar-right-artist-name {
  font-size: 0.95rem;
  color: #b3b3b3;
  margin: 4px 0 0;
}
.container-sidebar-right-artist-name:hover {
  text-decoration: underline;
  cursor: pointer;
}
.container-sidebar-right-artist-detail {
  margin-top: 8px;
}

.container-sidebar-right-artist-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 0 4px;
}

.container-sidebar-right-monthly-listeners {
  font-size: 0.9rem;
  color: #b3b3b3;
  margin-bottom: 8px;
}

.container-sidebar-right-artist-bio {
  font-size: 0.88rem;
  color: #c1c1c1;
  margin-top: 8px;
}

.container-sidebar-right-follow-btn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 999px;
  color: white;
  padding: 6px 16px;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 4px;
}

.container-sidebar-right-credits {
  margin-top: 24px;
}

.container-sidebar-right-credit-block {
  margin-bottom: 12px;
}

.container-sidebar-right-credit-block h4 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.container-sidebar-right-credit-block p {
  font-size: 0.9rem;
  color: #b3b3b3;
  margin: 4px 0;
}



.container-sidebar-right-next-song {
  display: flex;
  gap: 12px;
  align-items: center;
}

.container-sidebar-right-next-info h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.container-sidebar-right-next-info p {
  margin: 4px 0 0;
  font-size: 0.9rem;
  color: #b3b3b3;
}

/* container-sidebar-right-boxx-popup */
.container-sidebar-right-boxx-popup {
  display: none;
  position: absolute;
  z-index: 10;
  top: 12px;
  right: 15px;
  width: 260px;
  background: #1f1f1f;
  color: white;
  border-radius: 8px;
  padding: 16px;
  font-family: sans-serif;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-sidebar-right-boxx-popup.container-sidebar-right-boxx-active {
  display: block;
}
.container-sidebar-right-boxx-playlist-list {
  max-height: calc(5 * 56px); /* giả sử mỗi li cao ~56px */
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}
.container-sidebar-right-boxx-playlist-list {
  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ccc, #888);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
  }
}
.container-sidebar-right-boxx-popup-header {
  font-size: 14px;
  margin-bottom: 10px;
}

.container-sidebar-right-boxx-playlist-search {
  width: 228px;
  padding: 8px;
  background: #2a2a2a;
  border: none;
  border-radius: 4px;
  color: white;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.container-sidebar-right-boxx-playlist-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
  position: relative;
  font-size: 14px;
}

.container-sidebar-right-boxx-playlist-item:hover {
  background: #2a2a2a;
}

.container-sidebar-right-boxx-playlist-item .container-sidebar-right-boxx-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 4px;
}

.container-sidebar-right-boxx-playlist-item
  .container-sidebar-right-boxx-icon.container-sidebar-right-boxx-purple {
  background: #4b2c99;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.container-sidebar-right-boxx-playlist-item .container-sidebar-right-boxx-text {
  flex-grow: 1;
}

.container-sidebar-right-boxx-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #999;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.container-sidebar-right-boxx-circle .container-sidebar-right-boxx-check {
  display: none;
  color: #1ed760;
  font-size: 14px;
}

.container-sidebar-right-boxx-playlist-item.container-sidebar-right-boxx-selected
  .container-sidebar-right-boxx-circle {
  background-color: #1ed760;
  border-color: #1ed760;
}

.container-sidebar-right-boxx-playlist-item.container-sidebar-right-boxx-selected
  .container-sidebar-right-boxx-circle
  .container-sidebar-right-boxx-check {
  display: inline;
  color: white;
}

.container-sidebar-right-boxx-playlist-item.container-sidebar-right-boxx-create-new {
  color: white;
  font-weight: bold;
  padding-left: 0;
  margin-bottom: 10px;
  padding: 10px;
}

.container-sidebar-right-boxx-playlist-item.container-sidebar-right-boxx-create-new
  .container-sidebar-right-boxx-plus {
  font-size: 16px;
  margin-right: 8px;
}

.container-sidebar-right-boxx-popup-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.container-sidebar-right-boxx-btn {
  background: white;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
.container-sidebar-right-boxx-btn:hover {
  transform: scale(1.04);
}
.container-sidebar-right-boxx-btn.container-sidebar-right-boxx-cancel {
  background: transparent;
  color: #aaa;
}

.container-sidebar-right-boxx-btn.container-sidebar-right-boxx-confirm {
  background: white;
  color: black;
}

/* container-sidebar-right-boxx1-popup */
.container-sidebar-right-boxx1-popup {
  display: none;
  position: absolute;
  z-index: 10;
  bottom: 11px;
  right: -257px;
  width: 260px;
  background: #1f1f1f;
  color: white;
  border-radius: 8px;
  padding: 16px;
  font-family: sans-serif;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container-sidebar-right-boxx1-popup.container-sidebar-right-boxx1-popup-active {
  display: block;
}
.container-sidebar-right-boxx1-playlist-list {
  max-height: calc(5 * 56px); /* giả sử mỗi li cao ~56px */
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}
.container-sidebar-right-boxx1-playlist-list {
  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ccc, #888);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
  }
}
.container-sidebar-right-boxx1-popup-header {
  font-size: 14px;
  margin-bottom: 10px;
}

.container-sidebar-right-boxx1-playlist-search {
  width: 228px;
  padding: 8px;
  background: #2a2a2a;
  border: none;
  border-radius: 4px;
  color: white;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.container-sidebar-right-boxx1-playlist-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
  position: relative;
  font-size: 14px;
}

.container-sidebar-right-boxx1-playlist-item:hover {
  background: #2a2a2a;
}

.container-sidebar-right-boxx1-playlist-item
  .container-sidebar-right-boxx1-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 4px;
}

.container-sidebar-right-boxx1-playlist-item
  .container-sidebar-right-boxx1-icon.container-sidebar-right-boxx1-purple {
  background: #4b2c99;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.container-sidebar-right-boxx1-playlist-item
  .container-sidebar-right-boxx1-text {
  flex-grow: 1;
}

.container-sidebar-right-boxx1-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #999;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.container-sidebar-right-boxx1-circle .container-sidebar-right-boxx1-check {
  display: none;
  color: #1ed760;
  font-size: 14px;
}

.container-sidebar-right-boxx1-playlist-item.container-sidebar-right-boxx1-selected
  .container-sidebar-right-boxx1-circle {
  background-color: #1ed760;
  border-color: #1ed760;
}

.container-sidebar-right-boxx1-playlist-item.container-sidebar-right-boxx1-selected
  .container-sidebar-right-boxx1-circle
  .container-sidebar-right-boxx1-check {
  display: inline;
  color: white;
}

.container-sidebar-right-boxx1-playlist-item.container-sidebar-right-boxx1-create-new {
  color: white;
  font-weight: bold;
  padding-left: 0;
  margin-bottom: 10px;
  padding: 10px;
}

.container-sidebar-right-boxx1-playlist-item.container-sidebar-right-boxx1-create-new
  .container-sidebar-right-boxx1-plus {
  font-size: 16px;
  margin-right: 8px;
}

.container-sidebar-right-boxx1-popup-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.container-sidebar-right-boxx1-btn {
  background: white;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
.container-sidebar-right-boxx1-btn:hover {
  transform: scale(1.04);
}
.container-sidebar-right-boxx1-btn.container-sidebar-right-boxx1-cancel {
  background: transparent;
  color: #aaa;
}

.container-sidebar-right-boxx1-btn.container-sidebar-right-boxx1-confirm {
  background: white;
  color: black;
}

/* danh sách chờ */
.container-sidebar-right-playlist-box-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 8px;
}

.container-sidebar-right-toggle-btn {
  color: #aaa;
  cursor: pointer;
  font-size: 13px;
}

.container-sidebar-right-playlist-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 63px; /* 1 item */
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.container-sidebar-right-playlist-list.expanded {
  max-height: calc(63px * 5); /* tối đa 5 bài */
  overflow-y: auto;
}

.container-sidebar-right-playlist-item {
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.container-sidebar-right-playlist-item:hover {
  background: #2b2b2b;
  cursor: pointer;
}
.container-sidebar-right-playlist-item img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.container-sidebar-right-playlist-info {
  flex: 1;
}

.container-sidebar-right-playlist-info .container-sidebar-right-title {
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.container-sidebar-right-playlist-info .container-sidebar-right-artist {
  font-size: 12px;
  color: #ccc;
}
/* waiting list */
.container-sidebar-right-waiting-list {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #121212;
  color: white;
  padding: 16px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 100vh;
  box-sizing: border-box;
}

.container-sidebar-right-waiting-list-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 16px;
}

.container-sidebar-right-waiting-list-close-btn {
  cursor: pointer;
  font-size: 18px;
  color: #999;
}

.container-sidebar-right-waiting-list-label {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 14px;
  color: white;
}

.container-sidebar-right-waiting-list-section {
  margin-bottom: 24px;
}
.container-sidebar-right-waiting-list {
  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ccc, #888);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
  }
}
.container-sidebar-right-waiting-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s;
}

.container-sidebar-right-waiting-list-item:hover {
  background: #1e1e1e;
}

.container-sidebar-right-waiting-list-more-btn {
  background: none;
  border: none;
  color: #ccc;
  font-size: 20px;
  cursor: pointer;
  display: none; /* Ẩn mặc định */
  padding: 4px;
}

/* Chỉ hiện khi hover vào cả block */
.container-sidebar-right-waiting-list-item:hover
  .container-sidebar-right-waiting-list-more-btn {
  display: block;
}
.container-sidebar-right-waiting-list-more-btn:hover {
  color: #fff;
  transform: scale(1.04);
}
.container-sidebar-right-waiting-list-item img {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  object-fit: cover;
}

.container-sidebar-right-waiting-list-info {
  flex: 1;
  overflow: hidden;
}

.container-sidebar-right-waiting-list-title {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}

.container-sidebar-right-waiting-list-artist {
  font-size: 12px;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}

/* Bài đang phát */
.container-sidebar-right-waiting-list-item.container-sidebar-right-waiting-list-playing
  .container-sidebar-right-waiting-list-title {
  color: #1db954;
}
.lyrics-container {
  height: 536px;
  overflow-y: auto;
  background-color: #330000;
  color: #ddd;
  font-family: Arial, sans-serif;
  font-size: 1.8em;
  line-height: 1.6;
  text-align: center;
  border-radius: 8px;
}
.lyrics-container  {
  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ccc, #888);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
  }
}
.lyric-line {
  display: block;
  margin-bottom: 8px;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out,
    text-decoration 0.3s ease-in-out, font-weight 0.3s ease-in-out;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.lyric-line.active {
  color: #ffd700;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.footer-homepage-right-btn1 {
    background: none;
  border: none;
  color: #ccc;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  padding: 4px;
  transition: color 0.2s ease;
}